{% extends "__layout.jinja" %}

{% block title %}{{ article.title }}{% endblock %}

{% block contents %}
<h1>{{ article.title }}</h1>

<p>{{ article.content }}</p>

<img style="max-width: 500px" src="{{ article.image.url }}" alt="{{ article.title }}">
{% endblock %}